<footer class="site-footer">

  <div class="contact-list">
    <div><a href="/">{{ site.title }}</a></div>
    <div><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
  </div>

  <div class="social-media-list">
    Follow me:
    {% if site.github_username %}
    <div>
      <a href="https://github.com/{{ site.github_username }}">
        <i class="icon">{% include gh-icon.html %}</i>
        <span class="username">{{ site.github_username }}</span>
      </a>
    </div>
    {% endif %}

    {% if site.twitter_username %}
    <div>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="icon">{% include twitter-icon.html %}</i>
        <span class="username">{{ site.twitter_username }}</span>
      </a>
    </div>
    {% endif %}

    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">or via RSS</a>
  </div>

  {% if site.description %}
  <div class="description">
    {{ site.description }}
  </div>
  {% endif %}

</footer>
