/**
* Site header
*/
#fancy-bg {
  opacity: 0;
  transition: 1s opacity;
  will-change: opacity;

  &.visible {
    opacity: 1;
  }
}

.site-header {
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,.2);
  background: #656565;
  position: relative;
  text-transform: uppercase;
  font-weight: 200;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: [pic] 87px [name] 36px [links] 41px;
  grid-template-areas:
    "pic"
    "name"
    "links";

  @include whenMoreThan($on-tablet) {
    height: 160px;
    grid-template-columns: [m1] auto [pic] 78px [name] 296px [links] 296px [m2] auto;
    grid-template-rows: auto;
    grid-template-areas: "m1 pic name links m2";
  }

  #fancy-bg {
    position: absolute;
    top: 0;
    z-index: 0;
  }

}

#photo {
  border-radius: 0.7rem;
  max-width: $photo-width;
  max-height: $photo-height;
  grid-area: pic;
  justify-self: center;
  align-self: center;
  z-index: 1;
  @include whenMoreThan($on-tablet) {
    justify-self: start;
  }
}

a.site-title {
  font-size: 1.6rem;
  color: $header-text-color;
  justify-self: center;
  align-self: center;
  grid-area: name;
  z-index: 1;
  letter-spacing: 2px;
  @include whenMoreThan($on-tablet) {
    justify-self: start;
  }
}

.site-nav {
  grid-area: links;
  justify-self: center;
  align-self: center;
  z-index: 1;
  font-size: 0.875rem;
  @include whenMoreThan($on-tablet) {
    justify-self: end;
  }
  .page-link {
    color: $header-text-color;
  }
}



/**
* Site footer
*/
.site-footer {
  background: rgb(49, 49, 49);
  padding: ($spacing-unit * 4) 0;
  color: rgb(182, 182, 182);
  margin-top: $spacing-unit * 4;
  font-size: .8rem;

  .wrapper {
    flex-direction: column;
    text-align: center;
    @include whenMoreThan($on-palm) {
      text-align: left;
      flex-direction: row;
    }
  }

  a {
    color: rgb(182, 182, 182);
    &:hover {
      color: rgb(235, 235, 235);
    }
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col {
  flex: 1 0 auto;
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;
  border-bottom: dashed 1px #678cce;

  &:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @include whenMoreThan($on-palm) {
    flex: 1 0 33%;
    border-bottom: none;
    padding: 0;
  }

}

.post-teaser {
  max-width: $content-width;
  margin: 0 auto $spacing-unit;
  padding: 0 $spacing-unit;
  list-style: none;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  font-weight: 100;
}

.post-link {
  display: block;
}

/**
* Posts
*/
.post-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.8125rem;
  background-color: $header-text-color;

  #fancy-bg {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .post-title {
    max-width: $content-width;
  }
  .post-title,
  .post-meta {
    position: relative;
    color: $header-text-color;
  }
  a {
    color: $header-text-color;
  }
}

.mermaid {
  display: none;
  &[data-processed=true] {
    display: block;
  }
}

.post-content {
  > p, ul, ol, h1, h2, h3, h4, h5, h6, .mermaid {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacing-unit;
  }
  > ul {
    li {
      &:before {
        content: ' - ';
        display: inline-block;
        padding-right: $spacing-unit;
      }
    }
  }
}

.post-footer {
  position: relative;
  border-top: solid 1px #ccc;
  padding: $spacing-unit;
}
